body{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    background:linear-gradient(135deg,#dfe9f3,#ffffff,#dbeafe);
    min-height:100vh;
}

.container{

    width:85%;
    max-width:850px;

    margin:50px auto;

    background:rgba(255,255,255,.95);

    border-radius:25px;

    padding:50px;

    text-align:center;

    box-shadow:0 20px 45px rgba(0,0,0,.15);

    backdrop-filter:blur(8px);

}

h1{

    font-size:52px;

    color:#0d2b6b;

    margin-bottom:10px;

}

h2{

    color:#0d2b6b;

    margin-top:40px;

}

h3{

    color:#444;

}

p{

    color:#444;

    line-height:1.8;

}

ul{

    list-style:none;

    padding:0;

    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;

}

li{

    background:white;

    padding:15px 25px;

    border-radius:12px;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.btn{

    display:inline-block;

    margin:15px;

    padding:15px 30px;

    background:#123b87;

    color:white;

    text-decoration:none;

    border-radius:12px;

    transition:.3s;

}

.btn:hover{

    transform:translateY(-3px);

    background:#0b2d68;

}
